<li class="card" data-search="{{ q.search_text }}" data-tags="{{ q.tags|map('slugify')|join(' ') }}">
  <a class="card-link" href="{{ site.base }}quiz/{{ q.slug }}/">
    <span class="card-thumb">
      <img src="{{ q.thumb_url }}" alt="First slide of {{ q.title }}" loading="lazy" decoding="async">
    </span>
    <span class="card-title">{{ q.title }}</span>
  </a>
  <span class="card-author">{{ q.quizmasters|join(', ') }}</span>
  <span class="card-meta">
    <time datetime="{{ q.date.isoformat() }}">{{ q.date|pretty_date }}</time>
  </span>
</li>
